body, html {
  margin: 0;
  padding: 0;
  background: #030303;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#game-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100%; /* Dynamically adjusted */
  overflow: hidden;
}

#game {
  display: block;
  width: 100%;
  max-width: 650px;
  max-height: 450px;
  background-color: #000;
  box-sizing: border-box;
}

#game canvas {
  width: 100%;
  height: 100%;
  object-fit: contain;
}